<form class ="intrebari"action="/rezultat-chestionar", method="post">
    <p>
        <% if (u!=null && u!=="Error"){ %>
            <p>Conectat ca și , <%= u%></p>
            <form action="de-logare", method="get">
                <input type="submit" value="Delogare">
            </form>
         <% } else { %>
            <% } %> 
    </p>
    <% for(let i = 0; i < intrebari.length; i++)
    {
        let c = 0; %>
        <p><%= intrebari[i].intrebare %> </p>
        <% for(let j of intrebari[i].variante){ %>
            <input type="radio" name="q<%= i %>" value="<%= c++ %>"/>
            <label><%= j %></label> 
    <% } } %>
    <br>
    <br>
    <input class = 'submit' type="submit" value="trimite răspunsuri">
    
</form>
